<!-- views/partials/donations-form.handlebars -->


<div class="form-group">
  <label for="title">Name</label>
  <input name="name" class="form-control" placeholder="John Appleseed" />
</div>
<div class="form-group">
  <label for="title">Email</label>
  <input name="email" class="form-control" placeholder="johnappleseed@gmail.com" />
</div>
