<!-- views/charities-new.handlebars -->

<form action="/charities" method="post">
  {{> charities-form }}
  <div class="text-right">
    <button type="submit" class="btn btn-primary" name="button">Save</button>
  </div>
</form>
