<!-- views/help.handlebars -->

<div>
  <br>
  <h2>We're so Sorry!</h2>
  <br>
  Have an issue with the site? Let us know below and we'll fix it!

  <form>
    <div class="form-group">
      <br>
      <input name="text" class="form-control" placeholder="Your issue here" />
      <br>
      <button href="/thankyou" type="submit" class="btn btn-primary" name="button">Send Report</button>
    </div>
  </form>
</div>
