<!-- views/login.handlebars -->
<br>
<div class="card mx-3 p-3 w-50">
  <form>
    <h2>Login</h2>
    {{> donations-form}}
    <div class="form-group">
      <label for="title">Password</label>
      <input type="password" name="Password" class="form-control" placeholder="Password" />
    </div>
    <div class="text-right">
      <button href="/" type="submit" class="btn btn-primary" name="button">Login</button>
    </div>
  </form>
</div>

<br>

<div class="">No account? <a href="/signup">Sign Up</a></div>
