<!-- views/signup.handlebars -->
<br>
<div class="col-lg-6 offset-lg-3 w-50">
  <div class="card mx-3 p-3">
    <form>
      <h2>Sign Up</h2>

      {{> donations-form}}

      <div class="form-group" action="/" method="GET">
        <label for="title">Password</label>
        <input type="password" name="Password" class="form-control" placeholder="Password" />
      </div>
      <div class="form-group" action="/" method="GET">
        <label for="title">Confirm Password</label>
        <input type="password" name="Confirm Password" class="form-control" placeholder="Confirm Password" />
      </div>
      <div class="form-group">
        <label for="title">Birthday</label>
        <input name="Birthday" class="form-control" placeholder="(MM/DD/YYYY)" />
      </div>
      <input type="checkbox"></input> Sign me up for weekly newsletters, offers and promotions
      <div class="text-right">
        <button href="/" type="submit" class="btn btn-primary" name="button">Sign Up</button>
      </div>
    </form>
  </div>
</div>
